<!DOCTYPE html>
<html ng-app="engineHack">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<!----------------------------------------------------------------------------------------------->
	<!-- CSS -->
	<!----------------------------------------------------------------------------------------------->
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
	<link rel="stylesheet" type="text/css" href="stylesheets/twitter_bs/bootstrap.min.css" />
	
	<!----------------------------------------------------------------------------------------------->
	<!-- JS -->
	<!----------------------------------------------------------------------------------------------->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
	<script src="javascripts/engineHack/controllers.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Engine Hack</title>
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Engine Hack</a>
		</div>
	</nav>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="page-header">
						<h1 style="text-align: center;">Engine Hack<br> 
						<small>A few of my rants, thoughts, interests and everything kosher</small></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="panel-group" id="accordion">
					  <div class="panel panel-danger">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#">
							  <b>Everything in Between</b>
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="list-group" ng-controller="blogList">
							  <a href="#" class="list-group-item" ng-repeat="blog in blogs">
							  	<p>{{blog.name}}</p> <span style="color: #999;">{{blog.date}}</span>
							  </a>	
							</div>
						</div>
					  </div> <br />					  
					</div>
					<div class="panel-group" id="accordion">
					  <div class="panel panel-danger">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#">
							  <b>Software</b>
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="list-group" ng-controller="softwareList">
							  <a href="#" class="list-group-item" ng-repeat="sw in software">
							  	<p>{{sw.name}}</p> <span style="color: #999;">{{sw.date}}</span>
							  </a>	
							</div>
						</div>
					  </div> <br />					  
					</div>
					<div class="panel-group" id="accordion">
					  <div class="panel panel-danger">
						<div class="panel-heading">
						  <h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#">
							  <b>Resume</b>
							</a>
						  </h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" ng-controller="resumeList">
							<div class="list-group">
							  <a href={{cv.link}} class="list-group-item" ng-repeat="cv in resume">
							  	<p>{{cv.name}}</p> <span style="color: #999;">{{cv.date}}</span>
							  </a>	
							</div>
						</div>
					  </div> <br />					  
					</div>										
				</div>
			</div>
		</div>
	</body>
</html>